<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.weizhenbin.show">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="false"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name="com.example.weizhenbin.mydemo.common.ShowApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name="com.example.weizhenbin.mydemo.ui.MainActivity"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true"
            android:theme="@style/ColorTranslucentTheme"
            android:persistableMode="persistAcrossReboots"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.weizhenbin.mydemo.ui.WebActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name="com.example.weizhenbin.mydemo.ui.ZanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme"
            >
        </activity>
        <activity android:name="com.example.weizhenbin.mydemo.ui.NestScrollActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme"
            >
        </activity>
        <activity android:name="com.example.weizhenbin.mydemo.ui.RuntimeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme"
            >
        </activity>
        <activity android:name="com.example.weizhenbin.mydemo.ui.DataSelectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme"
            >
        </activity>
        <activity android:name="com.example.weizhenbin.mydemo.ui.SQLActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme"
            >
        </activity>
        <activity android:name="com.example.weizhenbin.mydemo.ui.RecyclerViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme"
            >
        </activity>
        <activity android:name="com.example.weizhenbin.mydemo.ui.VideoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme"
            >
        </activity>
        <activity android:name="com.example.weizhenbin.mydemo.ui.GlideDemoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme"
            >
        </activity>
        <activity android:name="com.example.weizhenbin.mydemo.ui.RxJavaTestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme"
            >
        </activity>
        <activity android:name="com.example.weizhenbin.mydemo.ui.VideoPlayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="true"
            >
        </activity>
        <activity android:name="com.example.weizhenbin.mydemo.ui.ImageCheckActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="true"
            >
        </activity>
        <activity android:name="com.example.weizhenbin.mydemo.external.weibo.WBAuthEmptyActivity"
        android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name="com.example.weizhenbin.mydemo.external.weibo.WBShareEmptyActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
          <!--  <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>-->
        </activity>
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="tW8rIWPm4cTPdShpcaTaqY98" />
        <!--
        mac G8qxlSHwGgaUwo6CNgB7FUEt
        win tW8rIWPm4cTPdShpcaTaqY98
        -->

        <meta-data
            android:name="WEIBO_APPKEY"
            android:value="2045436852" />
        <meta-data
            android:name="WEIBO_CHANNEL"
            android:value="weibo" />
    </application>

</manifest>
